.custom-form-field {
    padding: 5px;
    width: 400px;


}

.custom-title {
    text-align: center;
    padding: 10px;
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}

.custom-dialog {
    position: relative;
    display: flex;
    justify-content: flex-end;
   gap: .5em;
   align-items: center;
   margin-bottom: 15px;
}

.submit-btn{
    background-color: #147d64; color: white;
}

 button:disabled{
    background-color: #ebefee;
    color: #adbdb9;
}
