.custom-select {
  padding: 8px;
  margin: 4px;
  width: auto;
  font-weight: bold
}

.spacer{
  flex: auto;
}



.custom-toolbar {
  background-color:   #FAFAFA
}

.toolbar-title{
  display: flex;
  align-items: center;

}

.toolbar-title p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.toolbar-title mat-icon{
  font-size: 16px;
}

