<mat-toolbar class = "custom-toolbar">
    
        <mat-select [value]="'filter1'" class="custom-select">
            <mat-option value = "filter1" disabled> Risks by ID</mat-option>
        </mat-select>
    
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>more_horiz</mat-icon>
          </button>
    <button mat-button color="warn" style="color: #FAFAFA; background-color: #CF2333;" (click)="openCreateRiskDialog()"> Add Risk </button>
    
</mat-toolbar>


 